/* Font link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
/* Core styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  overflow-x: hidden;
}
.container {
  width: 80%;
  margin: 0 auto;
}
section {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-title {
  padding: 1rem 0;
  text-align: center;
  color: #000137;
  font-size: 3rem;
  font-weight: 700;
}
img {
  width: 100%;
  display: block;
}
/* Loader section styles */
.loader {
  overflow: hidden;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.loader__content {
  width: 100%;
  height: 100%;
}
.loader-icon {
  width: 120px;
  height: 120px;
  animation-name: loaderLoop;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes loaderLoop {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* //Loader section styles */
/* Home section styles */
.home_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header {
  color: #000137;
  font-size: 6.25rem;
  font-weight: 700;
}
.pre-header {
  color: #000137;
  font-size: 1.5625rem;
  font-weight: 400;
}
.home_content .btn {
  margin-top: 1rem;
  width: 250px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000137;
  border: 1px solid #000137;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.home_content .btn:hover {
  background-color: #fff;
}
.home_content .btn:hover a {
  color: #000;
}
.home_content .btn a {
  color: #fff;
  text-decoration: none;
}
/* //Home section styles */
/* Tab section styles */
.tabheader_content {
  display: flex;
  justify-content: center;
  color: #fff;
}
.tabheader__items {
  width: 30%;
  background-color: #000137;
  padding: 1.5rem 1rem;
}
.tabcontents {
  width: 70%;
}
.tabcontent:nth-child(1) {
  background-image: url("../imgs/img1.png");
}
.tabcontent:nth-child(2) {
  background-image: url("../imgs/img2.jpg");
}
.tabcontent:nth-child(3) {
  background-image: url("../imgs/img3.jpg");
}
.tabcontent:nth-child(4) {
  background-image: url("../imgs/img4.jpg");
}
.tabcontent:nth-child(5) {
  background-image: url("../imgs/img5.jpg");
}
.tabheader__item_active {
  background-color: #fff;
  color: #000;
}
.tabheader__item {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}
.tabheader__item:hover {
  background-color: #fff;
  color: #000;
}
.tabcontent {
  padding: 1.5rem 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* //Tab section styles */
/* Slider section styles */
.slider-top {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background-color: #000137;
  color: #fff;
  font-size: 1.2rem;
}
.current {
  margin-left: 1rem;
}
.total {
  margin-right: 1rem;
}
.slider-top i {
  cursor: pointer;
}
.slider-top .main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.slide:nth-child(1) {
  background-image: url("../imgs/main_img1.png");
}
.slide:nth-child(2) {
  background-image: url("../imgs/main_img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slider-wrapper {
  width: 80vw;
}
.slide:nth-child(3) {
  background-image: url("../imgs/main_img3.jpg");
}
.slide:nth-child(4) {
  background-image: url("../imgs/main_img4.jpg");
}
.slide:nth-child(5) {
  background-image: url("../imgs/main_img5.jpg");
}
.slide:nth-child(6) {
  background-image: url("../imgs/main_img6.jpg");
}
.slide {
  min-height: 70vh;
  display: flex;
  align-items: end;
  justify-content: center;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide .text {
  padding: 0 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.3);
}
/* //Slider section styles */
/* Menu Card section styles */
.menu .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.menu_item {
  width: 300px;
}
.menu-img {
  height: 238px;
  object-fit: cover;
}
.menu .text {
  width: 100%;
  background-color: #000137;
  color: #fff;
  padding: 1rem 1.1rem;
}
.menu .text .title {
  font-size: 2rem;
  font-weight: 700;
}
.menu .text p {
  width: 243px;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.menu .text .price {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin: 1rem auto;
  width: 200px;
  text-align: center;
  padding: 0.5rem;
}
.price .price_number {
  font-size: 1rem;
  font-weight: 700;
}
/* //Menu Card section styles */
/* Timer section styles */
.timer_content {
  width: 100%;
}
.timer .row {
  display: flex;
  align-items: center;
  justify-content: start;
}
.timer .section-title {
  text-align: left;
}
.timer_item:nth-child(1) {
  margin-left: 0;
}
.timer_item {
  margin: 1rem;
}
.timer_box {
  padding: 1rem;
  background-color: #000137;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 9rem;
  height: 9rem;
}
.timer_number {
  font-size: 70px;
  font-weight: 700;
}
.timer .text {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  width: 60%;
}
/* //Timer section styles */
/* Modal section styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.modal_content {
  background: rgba(0, 1, 55, 0.5);
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #fff;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal_content .title {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
  padding: 2rem 0;
}
.form-control{
  width: 400px;
  padding: 1rem;
  display: block;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}
.form-control:focus{
  outline: none;
}
.form-control::placeholder{
  color: #000;
  font-size: 1.1rem;
}
.modal_content .btn{
  border: 1px solid #000;
  color: #000;
  outline: none;
  width: 250px;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.modal_content .btn:hover{
  background-color: #000137;
  color: #fff;
}
.modal_content i{
  color: #fff;
  font-size: 1.1rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}
/* //Modal section styles */
/* Javascript styles */
.show {
  display: block;
}
.hide {
  display: none;
}
.modal.show{
  display: flex;
}
/*// Javascript styles */
